<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title> Application</title>
</head>
<body>
	<form action = "/result1">
<pre>        Enter course name
		<input type  = "text" name = "name" />
		Enter course category
		<input type  = "text" name = "category" />
		Enter course description
		<input type  = "text" name = "description" />
		Enter course Id
		<input type  = "text" name = "courseid" />
		Enter Teacher Id
		<input type  = "text" name = "teacherid" />
		<input type  = "submit" value = "Submit" />
</pre>
	</form>
	
	<p th:if="${result1}"
	
	th:inline="text"
	> [[${result1}]]  </p>
</body>
</html>	
