<md-card class="mdl-grid" style="background-color: #fbfbfb !important; min-height: 34vw;">


  <md-card-title-group>
    <md-card-title>{{ view_name }}</md-card-title>
    <!--<md-card-subtitle>Subtitle Card with title</md-card-subtitle>-->
  </md-card-title-group>


  <div class="mdl-grid">

     <md-card style="width: 100%" *ngIf="games.length === 0"  style="text-align: center;">
    <h4 >  <i class="material-icons" style="font-size: 2em; ">do_not_disturb_alt</i> <br> OPPS!  <br> <br> No games To Display , There might be an Error .. please check your network </h4>         
     </md-card>

    <div *ngFor=" let game of games  "  class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet" >


      <md-card>


        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{game.name}}</md-card-title>
          <md-card-subtitle>{{game.category}}</md-card-subtitle>
        </md-card-header>

        <div class="mdl-card__menu" style="color: #ec4f42">
          <i class="material-icons">{{game.icon}}</i> <span>{{game.type}}</span>
        </div>


        <img md-card-image style="opacity: 0.8" src="{{game.img}}">
        <md-card-content>
          <p>
            {{game.description}}
          </p>
        </md-card-content>


        <md-card-actions>

          <button  md-button style="color: #FF5722" (click)="viewGame(game.id);">
            <md-icon>play_arrow</md-icon>
            <span>Play &nbsp;</span>
          </button>

          <button *ngIf="this.auth.getType()=='Teacher'" md-button style="color: #FF5722"  [mdMenuTriggerFor]="copy">
            <md-icon>content_copy</md-icon>
            <span> Copy &nbsp;</span>
          </button>

          <md-menu #copy="mdMenu">
            <div *ngFor=" let course of courses">
               <button md-menu-item  (click)="copyGame( course.id , game.id ); openSnackBar();" style="font-size: small;" >
                    <span> Copy to {{course.name}} &nbsp; </span>
               </button>
            </div>
          </md-menu>
  
        </md-card-actions>

      </md-card>


    </div>

  </div>


<!-- fad add button -->
<button *ngIf="addButton()" md-fab  (click)="this.router.navigate(['/create/game/',id]);" style="position:fixed; z-index: 999; bottom:20%; right:6%">
  <md-icon>add</md-icon>
</button>

</md-card>

