<form class="example-form" style="padding: 0.5%;">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Your Email" type="email" name="email"  [(ngModel)]="email">
    </md-input-container></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Your Password" type="password" name="pw" [(ngModel)]="pw" >
    </md-input-container></td>
  </tr></table>


  <button md-button class="example-full-width" (click)="login()" style="background-color: #ff1744; color: #fff;">
        LOGIN
  </button>

  <br>
  <br>
  <a  (click)="close();" routerLink="/signup"   routerLinkActive="active" style="text-decoration: none; font-size: smaller">
            Don't have Account Yet!
  </a>

</form>


<!--<h1 md-dialog-title>Dialog</h1>-->
<!--<div md-dialog-content>What would you like to do?</div>-->
<!--<div md-dialog-actions>-->
  <!--<button md-button (click)="dialogRef.close('Option 1')">Option 1</button>-->
  <!--<button md-button (click)="dialogRef.close('Option 2')">Option 2</button>-->
<!--</div>-->


<!-- Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
