  <md-tab-group style="background-color: #fdfdfd;">

    <md-tab>
      <template md-tab-label>
        <button md-button style=" color: #3E2723;">
          <md-icon>games</md-icon>
          <span>Games</span>
        </button>
      </template>


      <game-cards></game-cards>


    </md-tab>

    <md-tab>
      <template md-tab-label>

        <button md-button style="color: #3E2723;">
          <md-icon>school</md-icon>
          <span> Courses</span>
        </button>
      </template>


      <course-cards></course-cards>

    </md-tab>


  </md-tab-group>
